<div class="course-item row no-gutters">
    <div class="col-md-10 col-xs-12">
        <h4>
            <span class="course-item__title">{{course.title}} </span> |
            <span class="course-item__duration">{{course.duration | date:'HH:mm:ss'}}</span>

            <small class="text-muted">{{course.createdAt | date}}</small>
        </h4>
        <p class="course-item__description">{{course.description}}</p>
    </div>
    <div class="col-md-2 col-xs-12">
        <button (click)="edit()" type="button" class="btn btn-block btn-outline-secondary">Edit course</button>
        <button (click)="remove()" type="button" class="btn btn-block btn-outline-danger">Delete</button>
    </div>
</div>
