/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
